@homeTopPadding: 1%;

:root {
    --darkColor: white;
    --fontColor: #191919;
    --fontColorInverse: white;
    --allBackground: #EEEDEE;
}

[data-theme='dark'] {
    --darkColor: #1E1E1E;
    --fontColor: #E0E0D4;
    ---fontColorInverse: #191919;
    --allBackground: #121212; //背景黑色
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkModeTransition {
    transition: background-color 0.2s linear;
    transition: color 0.3s linear;
}

.darkMode {
    .darkModeTransition;
    background-color: var(--darkColor);
    color: var(--fontColor);
}

.darkFont {
    color: var(--fontColor);
}

.darkModeInverse {
    .darkModeTransition;
    background-color: var(--darkColor);
    color: var(--fontColor);
}