@import '@/css/commonStyles/commonStyles.module.less';

.wrapper {
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    // margin-bottom: 10%;
    padding: 4% 1%;
    justify-content: flex-start;
    align-items: center;
    .containerBgColor
}

.inputWrapper {
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.editorWrapper {
    min-height: 500px;
}

.btnWrapper {
    display: flex;
    justify-content: center;
}

.outSize {
    width: 100%;
    padding-top: 10%;
}