@import '@/css/commonStyles/commonStyles.module.less';

* {
  box-sizing: border-box;
  font-family: Microsoft YaHei Light
}

body {
  margin: 0px;
}


html {
  scrollbar-gutter: stable;
  height: 100%;
}

html::-webkit-scrollbar {
  width: 0px;
  height: 0;
}